@import 'tailwindcss';
@source "./";

@theme {
    --color-bg: var(--vp-c-bg);
    --color-bg-soft: var(--vp-c-bg-soft);
    --color-text: var(--vp-c-text-1);
    --color-text-muted: var(--vp-c-text-2);
    --color-text-subtle: var(--vp-c-text-3);

    --color-divider: var(--vp-c-divider);
    --color-brand: var(--vp-c-brand-1);
    --shadow-card: var(--vp-shadow-2);
}

.DocSearch-Button {
    @apply bg-bg border border-divider;
}
